/* Modifications to http://kevinburke.bitbucket.org/markdowncss/markdown.css */

ul,ol {
    margin: 0 0 0 45px;
}

a
{
  color: BottleRocket1;
  text-decoration: none;
  background-color: transparent;
}

a:hover
{
  color: BottleRocket1;
  background: #CAFFFF;
}

